.analytics__title {
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  font-family: 'Roboto Slab', serif;
  margin-top: 0;
  margin-bottom: 50px;
}

@media screen and (max-width:576px) {

  .analytics__title {
    font-size: 22px;
    line-height: 1.36;
    margin-bottom: 16px;
  }

}