.news__body {
  padding: 24px 24px 0;
  box-sizing: border-box;
}

@media screen and (max-width:1024px) {

  .news__body {
    padding: 16px 16px 0;
  }

}

@media screen and (max-width:576px) {

  .news__body {
    padding: 10px 10px 0;
  }

}