.button {
  --button-color: var(--color-dark);
  --button-bg: var(--bg-white);
  --button-shadow: var(--bg-white);  
  display: inline-block;
  vertical-align: top;  
  font-weight: 500;
  color: rgba(var(--button-color), 1);
  background-color: rgba(var(--button-bg), 1);
  border-radius: 80px;
  border: none;
  padding: 22px 25px;
  min-width: 288px;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow .3s ease, background-color .3s ease;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(var(--button-bg), .9);
  box-shadow: 0 0 0 .2rem rgba(var(--button-shadow), .5);
}

@media screen and (max-width:768px) {

  .button {
    min-width: 240px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

}