.button {
  display: inline-block;
  vertical-align: top;
  color: #1A1B22;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 80px;
  border: none;
  padding: 22px 25px;
  min-width: 288px;
  text-align: center;
  text-decoration: none;
  outline: none;
  box-sizing: border-box;
  cursor: pointer;
  transition: box-shadow .3s ease, background-color .3s ease;
}

.button:hover,
.button:focus,
.button:active {
  background-color: rgba(255, 255, 255, .9);
  box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, .5);
}

@media screen and (max-width:768px) {

  .button {
    min-width: 240px;
    padding-top: 18px;
    padding-bottom: 18px;
  }

}