.commits__link-more--mobile{
  display: none;
}

@media screen and (max-width:576px) {

  .commits__link-more--mobile {
    --commits-link-more-mobile-border: var(--bg-dark);
    --commits-link-more-mobile-bg: var(--bg-dark);
    --commits-link-more-mobile-shadow: var(--bg-dark);
    order: 3;
    text-align: center;
    display: block;
    width: calc(100% - 32px);
    margin: 0 auto 30px auto;
    min-width: 240px;
    padding: 15.5px 25px;
    border-radius: 80px;
    outline: none;
    border: 1px solid rgba(var(--commits-link-more-mobile-border), 1);
    box-sizing: border-box;
  }

  .commits__link-more--mobile::after {
    display: none;
  }

  .commits__link-more--mobile:hover,
  .commits__link-more--mobile:focus,
  .commits__link-more--mobile:active {
    color: #fff;
    background-color: rgba(var(--commits-link-more-mobile-bg), 1);    
    box-shadow: 0 0 0 .2rem rgba(var(--commits-link-more-mobile-shadow), .5);
  }

}