.news__paragraph {
  font-size: 16px;
  line-height: 1.375;
}

@media screen and (max-width:1024px) {

  .news__paragraph {
    margin-top: 0;
    margin-bottom: 10px;
    height: 88px;
    overflow: hidden;
  }

}

@media screen and (max-width:576px) {

  .news__paragraph {
    margin-bottom: 4px;
  }

}