.news__paragraph {
  font-size: 16px;
  line-height: 1.375;
  max-height: calc(1.375em * 5);
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}

@media screen and (max-width:1024px) {

  .news__paragraph {
    max-height: calc(1.375em * 4);
    margin-top: 0;
    margin-bottom: 10px;
    -webkit-line-clamp: 4;
  }

}

@media screen and (max-width:576px) {

  .news__paragraph {    
    margin-bottom: 4px;
  }

}