.news__source {
  color: rgba(var(--color-gray), 1);
  text-decoration: none;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: .4px;
  text-transform: uppercase;
  font-family: var(--font-roboto-slab);
  transition: color .3s ease;
}

.news__source:hover,
.news__source:focus,
.news__source:active {
  color: rgba(var(--color-dark), 1);
  text-decoration: none;
}