.form-search__error {  
  color: rgba(255, 255, 255, 1);
  background-color: rgba(223, 75, 65, 1);
  box-sizing: border-box;
  margin-top: 5px;
  border-radius: 25px;
  font-size: 16px;
}

.form-search__error--show{
  padding: 5px 200px 5px 24px;
}