.graph__column:nth-of-type(1) {
  width: 104px;
  min-width: 104px;
}

.graph__column:nth-of-type(2) {
  width: calc(100% - 104px);
}

@media screen and (max-width:768px) {

  .graph__column:nth-of-type(1) {
    width: 117px;
    min-width: 117px;
  }

  .graph__column:nth-of-type(2) {
    width: calc(100% - 117px);
  }

}

@media screen and (max-width:576px) {

  .graph__column:nth-of-type(1) {
    width: 77px;
    min-width: 77px;
  }

  .graph__column:nth-of-type(2) {
    width: calc(100% - 77px);
  }

}