@import url(../preloader/__icon/preloader__icon.css);
@import url(../preloader/__text/preloader__text.css);

.preloader {
  position: relative;
  z-index: 1;  
  text-align: center;
  color: #B6BCBF;
  background-color: #F5F6F7;  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}