.news__link {
  --link-color: var(--color-dark);
  color: rgba(var(--link-color), 1);
  text-decoration: none;
  transition: color .3s ease;
}

.news__link:hover,
.news__link:focus,
.news__link:active {
  color: rgba(var(--link-color), .7);
}