.breadcrumb__link {  
  color: rgba(var(--color-dark), 1);
  text-decoration: none;
}

.breadcrumb__link:hover,
.breadcrumb__link:focus,
.breadcrumb__link:active {
  color: rgba(var(--color-dark), .7);
}