.link-more {   
  --link-more-color: var(--color-dark); 
  --link-more-border: var(--color-dark);
  white-space: nowrap;
  color: rgba(var(--link-more-color), 1);
  text-decoration: none;
  display: inline-block;
  vertical-align: top;
  padding-right: 28px;
  position: relative;
  box-sizing: border-box;
  margin-top: 13px;
  margin-bottom: 13px;
  transition: color .3s ease;
}

.link-more::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 10px;
  width: 10px;
  height: 10px;
  border: 2px solid rgba(var(--link-more-border), 1);
  border-left: none;
  border-bottom: none;
  margin-top: -5px;
  transform: rotate(45deg);
  box-sizing: border-box;
  transition: border-color .3s ease, right .3s ease-in-out;
}

.link-more:hover,
.link-more:focus,
.link-more:active {
  color: rgba(var(--link-more-color), .7);
}

.link-more:hover::after,
.link-more:focus::after,
.link-more:active::after {
  border-color: rgba(var(--link-more-color), .7);
  right: 5px;
}