.logo {
  --logo-color: var(--color-white);
  display: inline-block;
  vertical-align: top;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.2;
  color: rgba(var(--logo-color), 1);
  text-decoration: none;
  font-family: var(--font-roboto-slab);  
  transition: color .3s ease;
}

.logo:hover,
.logo:focus,
.logo:active {
  text-decoration: none;
  color: rgba(var(--logo-color), .7);
}

@media screen and (max-width:576px) {

  .logo {
    font-size: 16px;
  }

}