.breadcrumb__item {
  display: inline;
}

.breadcrumb__item+.breadcrumb__item:before {
  content: "/";
  padding: 0 4px;  
}

.breadcrumb__item,
.breadcrumb__item+.breadcrumb__item:before{
  color: rgba(var(--color-dark), .5);
}