.logo--theme-dark {
  --logo-color-dark: var(--color-dark);
  color: rgba(var(--logo-color-dark), 1);
}

.logo--theme-dark:hover,
.logo--theme-dark:focus,
.logo--theme-dark:active {
  text-decoration: none;
  color: rgba(var(--logo-color-dark), .7);
}