.news__more {
  text-align: center;
  margin-top: 48px;
  display: none;
}

@media screen and (max-width:1024px) {

  .news__more {
    margin-top: 24px;
  }

}

@media screen and (max-width:576px) {

  .news__more {
    margin-top: 0;
    margin-bottom: 14px;
  }

}