<!DOCTYPE html>
<html lang="ru">

<head>
  <title>NewsAnalyzer || Сервис для анализа происходящих в мире событий</title>
  <meta charset="UTF-8">
  <meta name="keywords" content='NewsAnalyzer || Сервис для анализа происходящих в мире событий'>
  <meta name="description" content='NewsAnalyzer || Сервис для анализа происходящих в мире событий'>
  <meta name="author" content='Dmitriy Shvanyk'>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="shortcut icon" href="./favicon.ico">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.chunks.analytics.css %>">
</head>

<body>

  <div class="root">

    <!--preloader page.begin-->
    <div class="preloader preloader--page">
      <div class="preloader__icon"></div>
      <div class="preloader__text">Загрузка...</div>
    </div>
    <!--preloader page.end-->

    <!--header.begin-->
    <header class="header header--inner-page">

      <!--navbar.begin-->
      <nav class="navbar navbar--theme-dark">
        <div class="container navbar__container">
          <a href="./index.html" class="logo logo--theme-dark">
            NewsAnalyzer
          </a>
          <div class="navbar__menu">
            <a href="./index.html" class="navbar__link navbar__link--theme-dark">Главная</a>
            <a href="./project.html" class="navbar__link navbar__link--theme-dark">О
              проекте</a>
          </div>
        </div>
      </nav>
      <!--navbar.end-->

    </header>
    <!--header.end-->

    <!--content.begin-->
    <main class="content">

      <!--output.begin-->
      <section class="output">
        <div class="container output__container">
          <ul class="breadcrumb output__breadcrumb">
            <li class="breadcrumb__item"><a class="breadcrumb__link" href="./index.html">Главная</a></li>
            <li class="breadcrumb__item">Аналитика</li>
          </ul>
          <h1 class="title output__title">
            Вы спросили: <span class="output__request">«Путешествия»</span>
          </h1>
          <div class="output__list">
            <div class="output__item">Новостей за неделю: <span class="output__weekly-news">34 324</span></div>
            <div class="output__item">Упоминаний в загаловках: <span class="output__mentions-titles">235</span></div>
          </div>
        </div>
      </section>
      <!--output.end-->

      <!--analytics.begin-->
      <section class="analytics">
        <div class="container analytics__container">

          <h2 class="analytics__title">
            Аналитика по дням
          </h2>

          <!--graph.begin-->
          <div class="graph">
            <div class="graph__head">
              <div class="graph__columns">
                <div class="graph__column">
                  <div class="graph__date-month">
                    Дата <span class="graph__span">(август)</span>
                  </div>
                </div>
                <div class="graph__column">
                  <div class="graph__count">Кол-во упоминаний</div>
                </div>
              </div>
            </div>
            <div class="graph__scale">
              <span class="graph__scale-item">0</span>
              <span class="graph__scale-item">25</span>
              <span class="graph__scale-item">50</span>
              <span class="graph__scale-item">75</span>
              <span class="graph__scale-item">100</span>
            </div>
            <div class="graph__body">
              <div class="graph__columns graph__columns--center">
                <div class="graph__column">
                  <div class="graph__date">
                    19, пн
                  </div>
                </div>
                <div class="graph__column">
                  <div class="progress">
                    <progress class="progress__control" value="0" max="100"></progress>
                    <span class="progress__count progress__count--null">0</span>
                  </div>
                </div>
              </div>
              <div class="graph__columns graph__columns--center">
                <div class="graph__column">
                  <div class="graph__date">
                    20, вт
                  </div>
                </div>
                <div class="graph__column">
                  <div class="progress">
                    <progress class="progress__control" value="18" max="100"></progress>
                    <span class="progress__count">18</span>
                  </div>
                </div>
              </div>
              <div class="graph__columns graph__columns--center">
                <div class="graph__column">
                  <div class="graph__date">
                    21, ср
                  </div>
                </div>
                <div class="graph__column">
                  <div class="progress">
                    <progress class="progress__control" value="11" max="100"></progress>
                    <span class="progress__count">11</span>
                  </div>
                </div>
              </div>
              <div class="graph__columns graph__columns--center">
                <div class="graph__column">
                  <div class="graph__date">
                    22, чт
                  </div>
                </div>
                <div class="graph__column">
                  <div class="progress">
                    <progress class="progress__control" value="39" max="100"></progress>
                    <span class="progress__count">39</span>
                  </div>
                </div>
              </div>
              <div class="graph__columns graph__columns--center">
                <div class="graph__column">
                  <div class="graph__date">
                    23, пт
                  </div>
                </div>
                <div class="graph__column">
                  <div class="progress">
                    <progress class="progress__control" value="45" max="100"></progress>
                    <span class="progress__count">45</span>
                  </div>
                </div>
              </div>
              <div class="graph__columns graph__columns--center">
                <div class="graph__column">
                  <div class="graph__date">
                    24, сб
                  </div>
                </div>
                <div class="graph__column">
                  <div class="progress">
                    <progress class="progress__control" value="73" max="100"></progress>
                    <span class="progress__count">73</span>
                  </div>
                </div>
              </div>
              <div class="graph__columns graph__columns--center">
                <div class="graph__column">
                  <div class="graph__date">
                    25, вс
                  </div>
                </div>
                <div class="graph__column">
                  <div class="progress">
                    <progress class="progress__control" value="34" max="100"></progress>
                    <span class="progress__count">34</span>
                  </div>
                </div>
              </div>
            </div>
            <div class="graph__scale">
              <span class="graph__scale-item">0</span>
              <span class="graph__scale-item">25</span>
              <span class="graph__scale-item">50</span>
              <span class="graph__scale-item">75</span>
              <span class="graph__scale-item">100</span>
            </div>
          </div>
          <!--graph.end-->

        </div>
      </section>
      <!--analytics.end-->

    </main>
    <!--content.end-->

    <!--footer.begin-->
    <footer class="footer">
      <div class="container footer__container">
        <div class="footer__copy">
          &copy; 2019 Supersite
        </div>
        <div class="footer__menu">
          <a href="./index.html" class="footer__link">Главная</a>
          <a href="./project.html" class="footer__link">О проекте</a>
          <a href="https://praktikum.yandex.ru" class="footer__link" target="_blank">Яндекс.Практикум</a>
        </div>
        <div class="social footer__social">
          <a href="https://github.com/DmitriyShvanyk" class="social__item" target="_blank">
            <img class="social__icon" src="<%=require('./images/social/github.svg')%>" alt="Github">
          </a>
          <a href="https://ru.stackoverflow.com/users/13968/soledar10?tab=profile" class="social__item" target="_blank">
            <img class="social__icon" src="<%=require('./images/social/stack-overflow.svg')%>" alt="Stackoverflow">
          </a>
          <!--<a href="#" class="social__item" target="_blank">
              <img class="social__icon" src="<%=require('./images/social/fb.svg')%>" alt="Facebook">
            </a>-->
        </div>
      </div>
    </footer>
    <!--footer.end-->

  </div>

  <script src="<%= htmlWebpackPlugin.files.chunks.analytics.entry %>"></script>
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>

</body>

</html>