.not-found__icon-arc {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 30px;
  height: 10px;
  margin-left: -15px;
  overflow: hidden;
}

.not-found__icon-arc::before {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
}