.slider__item {  
  font-size: 16px;
  line-height: 1.375;
  padding: 24px;
  max-width: 100%;
  margin: 0 auto;
  min-height: 288px;
  background-color: rgba(var(--bg-white), 1);
  border-radius: 16px;
  box-sizing: border-box;
  transition: box-shadow .3s ease;
}

.slider__item:hover {
  box-shadow: 2px 7px 28px rgba(8, 29, 45, .1);
}

@media screen and (max-width:1024px) {

  .slider__item {
    min-height: 242px;
  }

}

@media screen and (max-width:576px) {

  .slider__item {
    min-height: 264px;
    padding: 16px;
  }

}