.about__content {
  padding-left: 56px;
  padding-top: 52px;  
  max-width: 656px;
  box-sizing: border-box;
}

@media screen and (max-width:1024px) {

  .about__content {
    padding-top: 5px;
    padding-left: 32px;
  }

}

@media screen and (max-width:576px) {

  .about__content {
    padding-top: 25px;
    padding-left: 0;
  }

}